:root {
    --herog: #1F2937;
    --hero: #FFFFFF;
    --heros: #E5E7EB;
    --herot: #88898c;
    --herob: #00AEF0;
    --heroc: #129bf2;
    --herod: #f77d7a;
    --heroi: #1F2937;

    
}

* {
    margin: 0;
    padding: 0;
    outline: 2px solid red;
}

html {
    font-family: Roboto "Roboto Condensed" "Bebas Neue";
}

body {
    padding: 20px 40px;
    /* display:flex;
    align-content: center;
    align-items: stretch;
    justify-content: center; */
    background-color: var(--heros);
}

.header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--herob);
    color: var(--hero);
    font-size: 18px;
    font-weight: bold;
    border: 6px solid var(--hero);
    border-radius: 20px;
    padding: 0 10px;
}

h1 {
    text-align: center;
    /* align-self: center; */
    /* padding: 0 0 0 auto; */
    /* margin: 0 0 0 auto; */
} 

p {
    background-color: var(--heros);
    height: 10px;
}

div {
    /* background-color: var(--heros); */
}

/* .shell {
    display: flex;
    /* align-items: center;
    justify-content: center;
}*/

.container {
    display: flex;
    background-color: var(--heros);
    /* align-items: center; */
    /* justify-content: center; */
    width: 100vw;
    height: 100vw;
    /*margin: 0 5vw; */
    padding: 0 auto auto 0; 
    /* border: 2px solid var(--herog); */
    /* width: auto;
    height: auto; */
}

.row {
    
}

.square {
    flex 1;
    width: 5vw;
    height: 5vw;
    min-width: 1px;
    min-height:1px;
    background-color: var(--hero);
    border: none;
}

.row1 {
    border-top: 2px solid var(--herog);
}

.rowLast {
    border-bottom: 2px solid var(--herog);
}

.col1 {
    border-left: 2px solid var(--herog);
}

.colLast {
    border-right: 2px solid var(--herog);
}
