:root {
    --herog: #1F2937;
    --hero: #FFFFFF;
    --heros: #E5E7EB;
    --herot: #88898c;
    --herob: #00AEF0;
    --heroc: #129bf2;
    --herod: #f77d7a;
    --heroi: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

html {
    font-family: Roboto "Roboto Condensed" "Bebas Neue";
}

body {
    background-color: var(--heros); 
    width: 90vw;
    padding: 10px 0 0 20px;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--herob);
    color: var(--hero);
    font-size: 18px;
    font-weight: bold;
    border: 6px solid var(--hero);
    border-radius: 20px;
    padding: 0 10px;
}

h1 {
    text-align: center;
} 

p {
    background-color: var(--heros);
    min-height: 10px;
}

.container {
    display: block;
    gap: 0; 
    background-color: var(--hero);
    border: 2px solid var(--heroi);
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    background-color: var(--hero);
}

/* .row1 {
    border-top: 5px solid var(--herog);
}

.rowLast {
    border-bottom: 5px solid var(--herog);
}

.col1 {
    border-left: 5px solid var(--herog);
}

.colLast {
    border-right: 5px solid var(--herog);
} */